<!DOCTYPE html>
<html>
<head>
  <title>Viewmaster</title>
  <%= stylesheet_link_tag    "viewmaster/application", media: "all" %>
  <%= javascript_include_tag "viewmaster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
